{% extends 'events/main.html'%}

{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Lecturer:</h5>
            <hr>
            <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'upload_book' %}">Upload Notes</a>
            <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'create_unit' teachers.id %}">Create A New Unit</a>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5> Lectures Contact Information</h5>
            <hr>
            <p>Email:{{teachers.email}}</p>
            <p>Phone: {{teachers.phone}}</p>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5>Total Units</h5>
            <hr>
            <h1 style="text-align: center; padding:10px">{{unit_count}}</h1>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                {{myfilter.form}}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>

</div>
<br>
<div class="row">
      <div class="col-md-7">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Unit Name</th>
                    <th>Date Created</th>
                    <th>Unit Code</th>
                    <th>Update</th>
                    <th>Remove</th>

                </tr>
                {%for i in units %}
                   <tr>
                       <td>{{i.unitname}}</td>
                       <td>{{i.date_created }}</td>
                       <td>{{i.unitcode}}</td>
                       <td><a class="btn btn-sm btn-info" href="{% url 'update_unit' i.id %}">Update</a> </td>
                       <td><a class="btn btn-sm btn-danger" href="{% url 'delete_unit' i.id %}">Delete</a> </td>
                   </tr>
                {% endfor%}
            </table>
        </div>
      </div>

</div>
{% endblock %}

